.formContainerChat {
	background-color: #a7bcff;
	height: 100vh;
	display: flex;
	gap :10px;
	align-items: center;
	justify-content: center;

	.formWrapperChat {
		background-color: white;
		padding: 20px 60px;
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		gap: 10px;
		align-items: center;


		title {
			color: #5d5b8d;
			font-size: 12px;
		}

		form {
			display: flex;
			flex-direction: column;
			gap: 15px;

			input {
				padding: 15px;
				border: none;
				width: 250px;
				border-bottom: 1px solid #a7bcff;
				&::placeholder {
					color: rgb(175, 175, 175);
				}
			}

			button {
				background-color: #7b96ec;
				color: white;
				padding: 10px;
				font-weight: bold;
				border: none;
				cursor: pointer;
			}

			label {
				display: flex;
				align-items: center;
				gap: 10px;
				font-size: 12px;
				cursor: pointer;

				img {
					width: 32px;
				}
			}
		}

		p {
			color: #5d5b8d;
			font-size: 12px;
			margin-top: 10px;
		}
	}
}

.homeChat {
	// background-color: #a7bcff;
	// // height: 100vh;
	// display: flex;
	// align-items: center;
	// justify-content: center;
	width: 70%;
	.containerChat {
		// border: 1px solid white;
		border-radius: 10px;
		//width: 80%;
		// height: 70%;
		display: flex;
		overflow: hidden;

		.sidebar {
			// flex: 1;
			// width: 25%;
			background-color: #ffffff;
			position: relative;

			.userChat {
				display: flex;
				align-items: center;
				gap: 10px;
				color: rgb(17, 16, 107);
				// cursor: pointer;
				// background-color: #1a1a1a;



				img {
					width: 30px;
					height: 30px;
					border-radius: 50%;
					margin-right: 10px;
					object-fit: cover;
				}

				.userChatInfo {
					display: flex;
					flex-direction: row-reverse; // Inverse l'ordre des éléments
					align-items: center;
					padding-left: 15px;
					padding-right: 15px;
					justify-content: flex-end; // Aligne les éléments à droite
					flex: 1;

					.adminIcon{
						display: flex;
						align-items: center;

						button{
							img {
								width: 30px;
								height: 30px;
								border-radius: 50%;
								margin-right: 10px;
								object-fit: cover;
							}
							background-color:transparent;
							border: none;
							cursor: pointer;
							padding: 0;
							display: flex;
							align-items: center;
							justify-content: center;

						}
						img {
							width: 30px;
							height: 30px;
							border-radius: 50%;
							margin-right: 10px;
							object-fit: cover;
						}
					}

					p {
						font-size: 14px;
						color: lightgray;
					}

					.joinButton {

						button{
							border-radius: 5px;
							margin: 15px;
							background-color:rgb(17, 16, 107);
							border: none;
							cursor: pointer;
							font-size: 12px;
							color: rgb(255, 255, 255);


						}
						.popup {
							position: fixed;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							background-color: #ffffff;
							padding: 20px;
							border-radius: 8px;
							box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
							z-index: 9999;


							.closeButton {
								/* Styles pour le bouton de fermeture */
								position: absolute;
								top: -20px;
								right: 5px;
								background: transparent;
								border: none;
								cursor: pointer;
							}
						}

						.closeButton span {
							/* Styles pour la croix rouge */
							font-size: 20px;
							color: #ff0000;
						}
					}
				}
			}
		}
		.chat {
			flex: 2;
			position: relative;
			display: flex;
			flex-direction: column;

			.chatInfo {
				height: 50px;
				background-color: #5d5b8d;
				display: flex;
				align-items: center;
				justify-content: space-between;
				padding: 10px;
				color: lightgray;

				.memberList {
					div {
						color: #b9dbb5;
						font-size: 15px;

						height: 10px;
						padding: 15px;

						display: inline;
						cursor: pointer;
						margin-right: 10px;


						&:hover {
							height: 1px;

							background-color: #3f3d88;
							border-radius: 10px 10px 10px 10px;


							box-sizing: border-box;
						}
					}

				}

			}

			.chatIcons {
				display: flex;
				gap: 10px;

				button{
					background-color: transparent;
					color: transparent;
					border: none;
				}

				img {
					height: 24px;
					cursor: pointer;
				}

			}

			.messages {
				height: 490px;
				width: 100%;
				background-color: #ddddf7;
				padding: 10px;
				overflow-y: scroll;
				overflow-x: hidden;

				.message {
					display: flex;
					gap: 10px;
					margin-bottom: 20px;

					.messageInfo {
						display: flex;
						flex-direction: column;
						color: grey;
						font-weight: 10;
						font-size: 10px;

						img {
							width: 40px;
							height: 40px;
							border-radius: 50%;
							object-fit: cover;
						}
					}
					.messageContent {
						width: 400px;
						display: flex;
						flex-direction: column;
						gap: 10px;
						align-items: flex-start;

						p {
							word-wrap: break-word;
							text-align: left;
							background-color: #43af38;
							color: whitesmoke;
							padding: 3px 3px 3px 3px;
							border-radius: 10px 10px 10px 10px;
						}

						img {
							width: 50%;
						}
					}

					&.owner {
						flex-direction: row-reverse;

						.messageContent {
							align-items: flex-end;
							p {
								word-wrap: break-word;
								text-align: left;
								background-color: #8da4f1;
								color: whitesmoke;
								padding: 3px 3px 3px 3px;
								border-radius: 10px 10px 10px 10px;
							}
						}
					}
				}
			}

			.messages::-webkit-scrollbar {
				display: none;
			}

			.input {
				width: 100%;
				height: 60px;
				background-color: white;
				padding: 15px;
				gap: 15px;
				display: flex;
				align-items: center;
				justify-content: flex-start;

				input {
					width: 100%;
					border: none;
					outline: none;
					color: #2f2d52;
					font-size: 18px;

					&::placeholder {
						color: rgb(75, 74, 74);
					}
				}

				.send {
					display: flex;
					align-items: center;
					gap: 10px;

					img {
						height: 24px;
						cursor: pointer;
					}

					button {
						border: none;
						padding: 10px 15px;
						color: white;
						background-color: #8da4f1;
						cursor: pointer;
					}
				}
			}
		}
	}
}
.hello {
	height: 590px; /* Set the desired height for the scrollable container */
	overflow: auto;

	h2{
			font-size: 2rem;
			padding: 15px 15px 0 15px;
			color: rgb(17, 16, 107);

	}}

.formContainerChanel {
	position: relative;
	background-color: transparent;

	.formWrapperChanel {
		position: relative;
		background-color: rgba(0, 0, 0, 0.15);
		// border: 1px solid;
		border-radius: 20px;
		margin: 10px;
		padding: 20px;

		.close_popup{
			cursor: pointer;
			background-color: transparent;
			font-size: medium;
			position: absolute;
			top: -12px;
			right: 5px;
			border: none;
		}

		.buttonCreate{
			background-color: #262773;
			color: rgb(255, 255, 255);
			padding: 10px;
			border-radius: 15px;
			font-weight: bold;
			border: none;
			cursor: pointer;
		}

		form {
			display: flex;
			flex-direction: column;
			gap: 0px;

			label {
				display: flex;
				align-items: center;
				gap: 10px;
				font-size: 12px;
				cursor: pointer;

			}
		}

		.checkboxContainer {
			flex-direction: row;
		}

		p {
			color: #5d5b8d;
			font-size: 12px;
			margin-top: 10px;
		}
	}
}