html,
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --primaryColor: #282a57;
  --secondaryColor: #e4e4e4;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  margin: 0;
}

.parallax-outer {
  overflow: hidden;
}

.parallax {
  height: 110vh;
  width: 110%;
  position: relative;
}
